<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVy0dF7iHg0XvuBIQ9EjyS6IG-cW41LiU</string>
	<key>GCM_SENDER_ID</key>
	<string>706091807851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edutrack</string>
	<key>PROJECT_ID</key>
	<string>edutrack-a0655</string>
	<key>STORAGE_BUCKET</key>
	<string>edutrack-a0655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706091807851:ios:37f65335ecbb70b905ed2e</string>
</dict>
</plist>